# Discord OAuth
DISCORD_CLIENT_ID=seu_client_id
DISCORD_CLIENT_SECRET=seu_client_secret
DISCORD_REDIRECT_URI=http://localhost:3000/api/auth/callback

# Supabase
NEXT_PUBLIC_SUPABASE_URL=sua_url_supabase
NEXT_PUBLIC_SUPABASE_ANON_KEY=sua_chave_anon

# IDs Discord
NEXT_PUBLIC_FOUNDER_ID=1526990069255114913
NEXT_PUBLIC_BOT_ID=1540163536406192148
NEXT_PUBLIC_GUILD_ID=1539105495321681922

# JWT Secret
JWT_SECRET=sua_chave_secreta_super_segura

# Base URL
NEXT_PUBLIC_BASE_URL=http://localhost:3000
